@import url('reset.css');

.thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.thumbnail-info {
    display: flex;
    flex-direction: column;
}

.video-thumb {
    display: flex;
    gap: 10px;
    
}

.info-video-thumb {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.thumb-info {
    font-size: 1.1rem;    
}

.thumbail-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 10px;

}

.thumb-info-channel-name {
    font-size: 0.7rem;
}

.thumb-info-channel-views {
    font-size: .9rem;
}


