.video-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.video-content-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-title {
    font-size: 1.2rem;
}

.channel-info-text {
    font-weight: 600;
    font-size: .8rem;
}

.channel-info {
    display: flex;
    flex-direction: ro;
    gap: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    gap: 10px;
}

.view-count {
    font-size: 1.1rem;
    font-weight: 600;
}

.description {
    width: 600px;
}
